<div>
  <h3>Table View</h3>
  <table class="table table-hover">
    <thead>
      <tr>
        <th><a (click)="onSort('firstName')">First</a></th>
        <th><a (click)="onSort('lastName')">Last</a></th>
        <th>company</th>
        <th>Email</th>
        <th>Address</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{user.firstName}}</td>
        <td>{{user.lastName}}</td>
        <td>{{user.company}}</td>
        <td>{{user.email}}</td>
        <td>{{user.address.zip}} {{user.address.city}} {{user.address.street}}</td>
      </tr>
    </tbody>
  </table>
</div>
